In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [260]:
def drop_rows_gdp(table_gdp):
    return table_gdp.drop([4,5,7,8,9,10,11,12,14,15,16], axis = 0, inplace = False)

def drop_rows_price(table_price):
    return table_price.drop([1,3,4,5,6,7,10,11,12,13,14,16,17], axis = 0, inplace = False)

def diff(table):
    table['difference'] = table['Highest'] - table['Lowest']
    return table['difference']

def dist_max(table):
    table['Distance Max'] = table['Highest'] - table['Last']
    return table['Distance Max']

def gdp_1year(table):
    table['GDP in 1 Year'] = table['GDP'] * (1 + table['GDP Annual Growth Rate'])
    return table['GDP in 1 Year']

def gdp_5year(table):
    table['GDP in 5 Year'] = table['GDP'] * (1 + table['GDP Annual Growth Rate'])**5
    return table['GDP in 5 Year']

def gdp_10year(table):
    table['GDP in 10 Year'] = table['GDP'] * (1 + table['GDP Annual Growth Rate'])**10
    return table['GDP in 10 Year']

In [122]:
countries = ['united-states', 'Canada', 'Switzerland', 'Japan', 'united-kingdom', 'european-union', 'Sweden']

indicators = ['gdp', 'inflation-rate', 'consumer-price-index-cpi']

In [123]:
url = 'https://tradingeconomics.com/'

In [124]:
url_list = []

# we're going inside each country and get the indicators that we need
for country in countries:
    for ind in indicators:
        # we're appending the url's to a list so then we can loop them and get the graphs
        url_list.append("https://tradingeconomics.com/" + country + "/" + ind)

data_list = []
for x in url_list:
    # append the read url to give us a list with the tables
    data_list.append(pd.read_html(x))
                     
# data_list will give us a big list with a bunch of tables. In the next cells we will select the ones we want

In [307]:
# United States

table_us_gdp = pd.DataFrame(data_list[0][1])

table_us_price = pd.DataFrame(data_list[2][1])


table_us_gdp = drop_rows_gdp(table_us_gdp)

table_us_price = drop_rows_price(table_us_price) 

table_us_price

,United States Prices,Last,Previous,Highest,Lowest,Unit,Unnamed: 6
0,Inflation Rate,0.60,0.10,23.70,-15.80,percent,[+]
2,Consumer Price Index CPI,257.21,255.77,259.05,23.51,points,[+]
8,Export Prices,120.50,118.80,135.30,82.40,points,[+]
9,Import Prices,120.80,119.10,147.50,75.00,points,[+]
15,Inflation Expectations,2.68,3.00,3.40,2.33,percent,[+]

In [239]:
diff(table_us_gdp)
diff(table_us_price)

0      39.50
2     235.54
8      52.90
9      72.50
15      1.07
Name: difference, dtype: float64

In [214]:
Balance_overseas = table_us_price.iloc[2][1] - table_us_price.iloc[3][1]
Balance_overseas

-0.29999999999999716

In [250]:
dist_max(table_us_gdp)
dist_max(table_us_price)

0     23.10
2      1.84
8     14.80
9     26.70
15     0.72
Name: Distance Max, dtype: float64

In [278]:
GDP_1year = table_us_gdp.iloc[2][1] * (1 + (table_us_gdp.iloc[1][1]/100))
GDP_5year = table_us_gdp.iloc[2][1] * (1 + (table_us_gdp.iloc[1][1]/100))**5
GDP_10year = table_us_gdp.iloc[2][1] * (1 + (table_us_gdp.iloc[1][1]/100))**10

21751.049787162414

In [243]:
# Canada

table_canada_gdp = pd.DataFrame(data_list[3][1])

table_canada_price = pd.DataFrame(data_list[5][1])

table_canada_gdp = drop_rows_gdp(table_canada_gdp)

table_canada_price = table_canada_price.drop([1,3,4,5,6,7,10,11,12,13,14], axis = 0)

In [308]:
diff(table_canada_gdp)
diff(table_canada_price)
table_canada_price

,Canada Prices,Last,Previous,Highest,Lowest,Unit,Unnamed: 6,difference,Distance Max
0,Inflation Rate,-0.4,-0.2,21.6,-17.8,percent,[+],39.4,22.0
2,Consumer Price Index CPI,136.1,135.7,137.4,12.1,points,[+],125.3,1.3
8,Export Prices,103.9,102.2,113.5,62.6,points,[+],50.9,9.6
9,Import Prices,122.4,122.9,8964.0,75.9,points,[+],8888.1,8841.6

In [246]:
Balance_overseas = table_canada_price.iloc[2][1] - table_canada_price.iloc[3][1]
Balance_overseas

-18.5

In [251]:
dist_max(table_canada_gdp)
dist_max(table_canada_price)

0      22.0
2       1.3
8       9.6
9    8841.6
Name: Distance Max, dtype: float64

In [284]:
GDP_1year = table_canada_gdp.iloc[3][1] * (1 + (table_canada_gdp.iloc[1][1]/100))
GDP_5year = table_canada_gdp.iloc[3][1] * (1 + (table_canada_gdp.iloc[1][1]/100))**5
GDP_10year = table_canada_gdp.iloc[3][1] * (1 + (table_canada_gdp.iloc[1][1]/100))**10

1586.3310512783326

In [309]:
# Switzerland

table_switzerland_gdp = pd.DataFrame(data_list[6][1])

table_switzerland_price = pd.DataFrame(data_list[8][1])

table_switzerland_gdp = table_switzerland_gdp.drop([4,6,7], axis = 0, inplace = False) 
table_switzerland_price = table_switzerland_price.drop([1,3,4,5,6,7,10,12,13,14,15], axis=0)
table_switzerland_price

,Switzerland Prices,Last,Previous,Highest,Lowest,Unit,Unnamed: 6
0,Inflation Rate,-1.30,-1.30,11.92,-1.40,percent,[+]
2,Consumer Price Index CPI,101.37,101.34,103.56,21.17,points,[+]
8,Export Prices,96.50,97.20,112.10,96.50,points,[+]
9,Import Prices,96.65,97.62,137.29,74.64,points,[+]
11,Inflation Expectations,0.39,0.34,1.28,-1.33,percent,[+]

In [200]:
diff(table_switzerland_gdp)
diff(table_switzerland_price)

0     13.32
2     82.39
8     15.60
9     62.65
11     2.61
Name: difference, dtype: float64

In [236]:
Balance_overseas = table_switzerland_price.iloc[2][1] - table_switzerland_price.iloc[3][1]
Balance_overseas

-0.15000000000000568

In [252]:
dist_max(table_switzerland_gdp)
dist_max(table_switzerland_price)

0     13.22
2      2.19
8     15.60
9     40.64
11     0.89
Name: Distance Max, dtype: float64

In [289]:
GDP_1year = table_switzerland_gdp.iloc[2][1] * (1 + (table_switzerland_gdp.iloc[1][1]/100))
GDP_5year = table_switzerland_gdp.iloc[2][1] * (1 + (table_switzerland_gdp.iloc[1][1]/100))**5
GDP_10year = table_switzerland_gdp.iloc[2][1] * (1 + (table_switzerland_gdp.iloc[1][1]/100))**10
GDP_10year

616.8453152521814

In [167]:
# Japan

table_japan_gdp = pd.DataFrame(data_list[9][1])

table_japan_price = pd.DataFrame(data_list[11][1])

table_japan_gdp = table_japan_gdp.drop([2,5,6,8,9,10,11,12,13,15,16,17], axis = 0)
table_japan_price = table_japan_price.drop([1,3,4,5,6,9,10,11,12,13,14], axis = 0)

,Japan Prices,Last,Previous,Highest,Lowest,Unit,Unnamed: 6
0,Inflation Rate,0.1,0.1,24.9,-2.5,percent,[+]
2,Consumer Price Index CPI,101.8,101.9,102.3,17.4,points,[+]
7,Export Prices,89.0,88.3,207.3,84.1,points,[+]
8,Import Prices,80.2,79.8,190.4,45.9,points,[+]

In [290]:
diff(table_japan_gdp)
diff(table_japan_price)
table_japan_gdp

,Japan GDP,Last,Previous,Highest,Lowest,Unit,Unnamed: 6,difference,Distance Max
0,GDP Growth Rate,-0.60,-1.90,3.20,-4.80,percent,[+],8.0,3.80
1,GDP Annual Growth Rate,-1.70,-0.70,9.40,-8.80,percent,[+],18.2,11.10
3,GDP,5081.77,4954.81,6203.21,44.31,USD Billion,[+],6158.9,1121.44
4,GDP Constant Prices,526425.80,529417.90,539432.90,255945.60,JPY Billion,[+],283487.3,13007.10
7,GDP per capita,49187.80,48766.10,49187.80,8607.70,USD,[+],40580.1,0.00
14,GDP From Services,21744.70,21980.90,26170.30,21744.70,JPY Billion,[+],4425.6,4425.60

In [237]:
Balance_overseas = table_japan_price.iloc[2][1] - table_japan_price.iloc[3][1]
Balance_overseas

8.799999999999997

In [253]:
dist_max(table_japan_gdp)
dist_max(table_japan_price)

0     24.8
2      0.5
7    118.3
8    110.2
Name: Distance Max, dtype: float64

In [293]:
GDP_1year = table_japan_gdp.iloc[2][1] * (1 + (table_japan_gdp.iloc[1][1]/100))
GDP_5year = table_japan_gdp.iloc[2][1] * (1 + (table_japan_gdp.iloc[1][1]/100))**5
GDP_10year = table_japan_gdp.iloc[2][1] * (1 + (table_japan_gdp.iloc[1][1]/100))**10
GDP_10year

4281.048849009196

In [294]:
# United Kingdom

table_uk_gdp = pd.DataFrame(data_list[12][1])

table_uk_price = pd.DataFrame(data_list[14][1])

table_uk_gdp = table_uk_gdp.drop([4,5,7,8,9,10,11,12,13,15,16], axis = 0)
table_uk_price = table_uk_price.drop([1,3,4,5,6,7,8,10,11,12,13,14,15], axis = 0)

table_uk_gdp

,United Kingdom GDP,Last,Previous,Highest,Lowest,Unit,Unnamed: 6
0,GDP Growth Rate,-2.20,0.00,5.00,-2.70,percent,[+]
1,GDP Annual Growth Rate,-1.70,1.10,9.80,-5.80,percent,[+]
2,GDP,2827.11,2860.67,3100.88,73.23,USD Billion,[+]
3,GDP Constant Prices,512458.00,523917.00,523918.00,112194.00,GBP Million,[+]
6,GDP per capita,43688.40,43324.00,43688.40,13934.00,USD,[+]
14,GDP From Services,366378.00,375131.00,375131.00,182006.00,GBP Million,[+]

In [186]:
diff(table_uk_gdp)
diff(table_uk_price)

0     8.6
2    60.2
9     3.8
Name: difference, dtype: float64

In [ ]:
# nao tem export nem import

In [254]:
dist_max(table_uk_gdp)
dist_max(table_uk_price)

0    7.90
2    0.02
9    1.60
Name: Distance Max, dtype: float64

In [297]:
GDP_1year = table_uk_gdp.iloc[2][1] * (1 + (table_uk_gdp.iloc[1][1]/100))
GDP_5year = table_uk_gdp.iloc[2][1] * (1 + (table_uk_gdp.iloc[1][1]/100))**5
GDP_10year = table_uk_gdp.iloc[2][1] * (1 + (table_uk_gdp.iloc[1][1]/100))**10
GDP_10year

2381.649703060624

In [298]:
# European Union

table_eu_gdp = pd.DataFrame(data_list[15][1])

table_eu_price = pd.DataFrame(data_list[17][1])

table_eu_gdp = table_eu_gdp.drop([2,6,7])
table_eu_price = table_eu_price.drop([0,1,4,5,6,7,8,9,10,11], axis = 0)
table_eu_gdp

,European Union GDP,Last,Previous,Highest,Lowest,Unit,Unnamed: 6
0,GDP Annual Growth Rate,-2.7,1.30,4.60,-5.50,percent,[+]
1,GDP,19100.0,18748.57,19163.62,359.02,USD Billion,[+]
3,GDP Constant Prices,3697577.9,3692337.30,3697577.90,2404032.90,EUR Million,[+]
4,GDP Growth Rate,-3.5,0.20,1.30,-3.50,percent,[+]
5,GDP Per Capita,37417.0,36757.10,37417.00,10071.50,USD,[+]

In [187]:
diff(table_eu_gdp)
diff(table_eu_price)

2    46.08
3     8.90
Name: difference, dtype: float64

In [ ]:
# nao tem export nem import

In [255]:
dist_max(table_eu_gdp)
dist_max(table_eu_price)

2    0.7
3    7.9
Name: Distance Max, dtype: float64

In [301]:
GDP_1year = table_eu_gdp.iloc[1][1] * (1 + (table_eu_gdp.iloc[0][1]/100))
GDP_5year = table_eu_gdp.iloc[1][1] * (1 + (table_eu_gdp.iloc[0][1]/100))**5
GDP_10year = table_eu_gdp.iloc[1][1] * (1 + (table_eu_gdp.iloc[0][1]/100))**10
GDP_10year

14526.52613990157

In [302]:
# Sweden

table_sweden_gdp = pd.DataFrame(data_list[18][1])

table_sweden_price = pd.DataFrame(data_list[20][1])

table_sweden_gdp = drop_rows_gdp(table_sweden_gdp)
table_sweden_price = table_sweden_price.drop([1,3,4,5,6,7,10,12,13,14], axis = 0)
table_sweden_gdp

,Sweden GDP,Last,Previous,Highest,Lowest,Unit,Unnamed: 6
0,GDP Growth Rate,0.10,0.00,3.40,-3.80,percent,[+]
1,GDP Annual Growth Rate,0.40,0.50,7.50,-6.00,percent,[+]
2,GDP,530.83,555.46,586.84,15.82,USD Billion,[+]
3,GDP Constant Prices,1259853.00,1258320.00,1259853.00,538572.00,SEK Million,[+]
6,GDP per capita,57975.10,57911.20,57975.10,18050.10,USD,[+]
13,GDP From Services,582269.00,581254.00,582269.00,186474.00,SEK Million,[+]

In [188]:
diff(table_sweden_gdp)
diff(table_sweden_price)

0      17.10
2     309.98
8      50.20
9      64.60
11      7.80
Name: difference, dtype: float64

In [238]:
Balance_overseas = table_sweden_price.iloc[2][1] - table_sweden_price.iloc[3][1]
Balance_overseas

2.799999999999997

In [256]:
dist_max(table_sweden_gdp)
dist_max(table_sweden_price)

0     14.80
2      0.84
8     15.60
9     19.30
11     4.30
Name: Distance Max, dtype: float64

In [305]:
GDP_1year = table_sweden_gdp.iloc[2][1] * (1 + (table_sweden_gdp.iloc[1][1]/100))
GDP_5year = table_sweden_gdp.iloc[2][1] * (1 + (table_sweden_gdp.iloc[1][1]/100))**5
GDP_10year = table_sweden_gdp.iloc[2][1] * (1 + (table_sweden_gdp.iloc[1][1]/100))**10
GDP_10year

552.449503049258